.post-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 20px;
}

.post {
	background: white;
	border: 1px solid #efefef;
	border-radius: 6px;
	/*box-shadow: 0 4px 16px rgba(100,100,100,.1), 0 1px 4px rgba(0,0,0,.07);*/
	box-shadow: 0 0 42px rgba(14,30,37,.09);
	display: flex;
	flex: 0 1 auto;
	margin: 15px;
	transition: all .25s ease-out;
	width: 300px;
	height: 200px;
	&:hover {
		box-shadow: 0 8px 40px rgba(100,100,100,.15),0 2px 26px rgba(0,0,0,.08);
		transform: translateY(-1px) scale(1.01);
	}
}

.post img {
	width:298px;
	height: 130px;
	border-radius: 5px 5px 0 0;
}

.post a {
	font-family: 'Bree Serif', serif;
	text-decoration: none;
	text-align: center;
	color: #546170;
}

.post a h3 {
	margin: 0;
}

.post-title {
	align-items: center;
	display: flex;
	height: 58px;
	justify-content: center;
	padding: 0 5px;

}

@media only screen and (max-device-width: 600px) {
	.post {
		width: 100%;
	}
	.post img {
		width: 100%;
	}
}