.user-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-right: 20px;
}

.user-links a {
  margin: 0 10px;
}

.user-links svg {
  height: 28px;
  fill: rgba(255,255,255,.5);
  transition: all .2s ease-out;
  &:hover {
    fill: rgba(255,255,255,.9);
  }
}


@media only screen and (max-device-width: 600px) {
  .user-links {
    display: none;
  } 
}